
	{include file='../layout/header.html'}

<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">Product Details</header>
		<div class="panel-body">
			<div class="table-responsive no-border">
			
			<a id="product_onclick" style=" width:142px; display: block;" rel="leanModal" name="product" href="#product">Add New Product</a>	
				<table class="table table-bordered table-striped mg-t datatable">
				<thead>
				<tr>
				<th>Product Name</th>
				<th>Created On</th>
				<th>product Status</th>
				<th>Action</th>
				</tr>
				</thead>
				<tbody class='list_content'>
					<div id='loading-image' style="text-align: center"><img src="{$static_server}assets/app/images/framely.gif" align="middle" style="height:75px; width:75px;"/></div>
				</tbody>
				</table>
			</div>
		</div>
		                        <p class="pagination"></p>
		                      
	</section>
</div>
</section>



	{include file='../layout/footer.html'}
	<script type="text/javascript" src="{$static_server}assets/app/js/lib/jquery.simplePagination.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{$static_server}assets/app/css/lib/simplePagination.css"/>

{literal}
<style type="text/css">
.pm-content{
		height:600px;
	}
	
	.form-group label { margin:0px; font-weight:normal;}
	
	#product .form-group { margin:0px;}
	
	#edit_product .form-group { margin:0px;}
	
	form { margin:0px;}
	
	#product .form-group input { margin:0px; line-height: normal;}
	
	#edit_product .form-group select { width: 242px; margin:0px;}
	
	#edit_product .form-group input { margin:0px; line-height: normal;}
	
	.col-sm-3  { padding:0px;}
	
	#signup-ct button { float:right;}
	
	#tac-checkbox, label, .forgotten-password-link { float:none; margin:0px;}
	
	.has-error .form-control {border-color: #ff604f !important; }
	
	.has-success .form-control {border-color: #2b542c !important; }
	
	.form-control-feedback { display:none !important;}
	
	.col-sm-5 {
	  
		padding: 0 !important;
		width: 67.667%;
	}
.help-block {  margin-bottom: 0px!important; }

</style>
<script type='text/javascript'>
		$(function() {
		    $('.pagination').pagination({
		        items: 0{/literal}{$arg.total_items}{literal},
		        itemsOnPage: {/literal}{$arg.pagination}{literal},
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		        	Collect_Info();
		        }
		    });
		    Collect_Info();
		    
		});
		function Collect_Info(){
			var current_page = $('.current').text();
			
		              $.ajax({
		                            type: "POST",
		                            data: 'current_page='+current_page,
		                            dataType:'JSON',
		                            beforeSend: function(){
		                            		$("#loading-image").show();
		                            },
		                            url: base_url+'/product/list_info',
		                            beforeSend: function() {
			              $("#loading-image").show();
			           },
		                            success: function(sresponse) {
		                            	$("#loading-image").hide();
		                            	var objdata = new Array() ;
					$.each(sresponse, function(i, obj) {
					  //use obj.id and obj.name here, for example:
					  	objdata += '<tr>';
					  	objdata += '<td>'+obj.product_name+'</td>'; 
					  	objdata += '<td>'+obj.created_on+'</td>'; 
					  	objdata += '<td>'+obj.status+'</td>'; 
					  	objdata += '<td><a href="#" id="'+obj.product_id+'" class="user_editsss" onClick="edit_product_info('+obj.product_id+');">Edit</a></td>'; 
					  	objdata += '</tr>';
					});
					$(".list_content").html(objdata);
		                            }
		               });
		}
		
		
			function edit_product_info(id)
			{
				 $( "#user_edit_tree" ).trigger( "click" );
				 var request_ur = base_url+'/product/edit';
				  $.ajax({
								type: "POST",
								data: 'product_id='+id,
								dataType:'JSON',
								url: request_ur,
								success: function(sresponse) {
									$.each(sresponse, function(i, obj) {
									 
									  $("#proe_name").val(obj.product_name);
									   $("#product_id").val(obj.product_id);
									    $("#product_status").val(obj.status);
									}); 
							}
				});
			}
			
			$(function() {
    			$('a[rel*=leanModal]').leanModal({ top : 150, closeButton: ".modal_close" });		
			});
			
			 $(document).ready(function() {
					$('#defaultForm').bootstrapValidator();
				});
				
				 $(document).ready(function() {
					$('#defaultForm1').bootstrapValidator();
				});
	
</script>

{/literal}


<a id="user_edit_tree" rel="leanModal" href="#edit_product">Edit</a>

		<div id="product">
			<div id="signup-ct">
				<div id="signup-header">
					<span>Add New Product</span>
					<a class="modal_close" href="#"></a>
				</div>
				
				<form action="#" method="post" id="defaultForm" class="form-horizontal" data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" >
     
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Product Name:</span>
				    <div class="col-sm-5">
					 <input type="text" name='product_name' id='product_name'  class="form-control" placeholder="Product Name"  required data-bv-notempty-message="The product name is required"/>
					 </div>
				  </div>
				  
				 
				  <div class="btn-fld">
				  
				   <input type="submit" id="productbtn"  class="btn btn-primary" value="Add &raquo;"/>
				   </div>
				   </form>
			 
			
		</div>
		</div>



		
   
   <div id="edit_product">
			<div id="signup-ct">
				<div id="signup-header">
					<span>Edit Product</span>
					<a class="modal_close" href="#"></a>
				</div>
				
				<form action="#" method="post" id="defaultForm1" class="form-horizontal" data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
     
				  <div class="form-group">
				    <span>Product Name:</span>
				     <div class="col-sm-5">
					 <input type="text" name='proe_name' id='proe_name' placeholder="Product Name" class="form-control" required data-bv-notempty-message="The product name is required"/>
				 </div>
				  </div>
				  
				<input type="hidden" name='product_id' id='product_id'/>
				 <div class="form-group">
				 <span>Status: </span>
				 <div class="col-sm-5">
				 <select name='product_status' id='product_status' class="form-control" data-bv-notempty data-bv-notempty-message="The status is required" >
				 	<option value="1">Active</option>
				 	<option value="0">Inactive</option>
				 </select>
				 </div>
				  </div>
				  <div class="btn-fld">
				  <input type="submit" id="edit_productbtn" value="Update &raquo;"/>
				  </div>
				   </form>
			</div>
		</div>