
	{include file='../layout/header.html'}

<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">Product Details</header>
		<div class="panel-body">
			<div class="table-responsive no-border">
			
			<p id="product_onclick" style=" width:151px;">Add New Product</p>
				<table class="table table-bordered table-striped mg-t datatable">
				<thead>
				<tr>
				<th>Product Name</th>
				<th>Created On</th>
				<th>product Status</th>
				<th>Action</th>
				</tr>
				</thead>
				<tbody class='list_content'>
					<div id='loading-image' style="text-align: center"><img src="{$static_server}assets/app/images/framely.gif" align="middle" style="height:75px; width:75px;"/></div>
				</tbody>
				</table>
			</div>
		</div>
		                        <p class="pagination"></p>
		                      
	</section>
</div>
</section>



	{include file='../layout/footer.html'}
	<script type="text/javascript" src="{$static_server}assets/app/js/lib/jquery.simplePagination.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{$static_server}assets/app/css/lib/simplePagination.css"/>

{literal}
<style type="text/css">
	.pm-content{
		height:600px;
	}
	
	form input[type="text"], input[type="password"], input[type="file"], select 
{

margin:5px;
padding:0px;
height: 33px;
width :243px;
font-weight: normal;
}
input[type=button]{
    background-color:#123456;
    border:1px solid white;
     font-family: "Open Sans",sans-serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:22%;
}
label { width: 127px; font-weight: normal;}

.form{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:545px;
    margin:20px 250px 0 35px;
    float:left;
}

h3 {margin-top :0px;}

#tac-checkbox, label, .forgotten-password-link { float:none; margin:0px;}
</style>
<script type='text/javascript'>
		$(function() {
		    $('.pagination').pagination({
		        items: 0{/literal}{$arg.total_items}{literal},
		        itemsOnPage: {/literal}{$arg.pagination}{literal},
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		        	Collect_Info();
		        }
		    });
		    Collect_Info();
		    
		});
		function Collect_Info(){
			var current_page = $('.current').text();
			
		              $.ajax({
		                            type: "POST",
		                            data: 'current_page='+current_page,
		                            dataType:'JSON',
		                            beforeSend: function(){
		                            		$("#loading-image").show();
		                            },
		                            url: base_url+'/product/list_info',
		                            beforeSend: function() {
			              $("#loading-image").show();
			           },
		                            success: function(sresponse) {
		                            	$("#loading-image").hide();
		                            	var objdata = new Array() ;
					$.each(sresponse, function(i, obj) {
					  //use obj.id and obj.name here, for example:
					  	objdata += '<tr>';
					  	objdata += '<td>'+obj.product_name+'</td>'; 
					  	objdata += '<td>'+obj.created_on+'</td>'; 
					  	objdata += '<td>'+obj.status+'</td>'; 
					  	objdata += '<td><a href="#" id="'+obj.product_id+'" class="user_editsss" onClick="edit_product_info('+obj.product_id+');">Edit</a></td>'; 
					  	objdata += '</tr>';
					});
					$(".list_content").html(objdata);
		                            }
		               });
		}
		
		
			function edit_product_info(id)
			{
				 $("#edit_productdiv").css("display", "block");
				 var request_ur = base_url+'/product/edit';
				  $.ajax({
								type: "POST",
								data: 'product_id='+id,
								dataType:'JSON',
								url: request_ur,
								success: function(sresponse) {
									$.each(sresponse, function(i, obj) {
									 
									  $("#proe_name").val(obj.product_name);
									   $("#product_id").val(obj.product_id);
									    $("#product_status").val(obj.status);
									}); 
							}
				});
			}
	
</script>

{/literal}




 <div id="productdiv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
                <h3>Add New Product</h3>
                <hr/>
                
                <label>Product Name: </label>
               
                <input type="text" name='product_name' id='product_name' placeholder="Name"/><br/>
				
                <input type="button" id="productbtn" value="Add"/>

            </form>
        </div>



		<div id="edit_productdiv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
                <h3>Edit Product</h3>
                <hr/>
				
               	<label>Product Name: </label>
               
                <input type="text" name='proe_name' id='proe_name' placeholder="Name"/><br/>
				
				<input type="hidden" name='product_id' id='product_id'/>
				
				 <label>Status: </label>
				 <select name='product_status' id='product_status' >
				 	<option value="1">Active</option>
				 	<option value="0">Inactive</option>
				 </select>
				 
                <input type="button" id="edit_productbtn" value="Update"/>
            </form>
   </div>