<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Registration - BeClouds.com</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>
  <link href="{$static_server}/assets/app/css/form-style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{$static_server}/assets/app/css/notification/ns-default.css" />
    <link rel="stylesheet" type="text/css" href="{$static_server}/assets/app/css/notification/ns-style-other.css" />

<style type="text/css">
  .col-sm-2{
    min-width: 95px;
  }
</style>
  </head>
  <body>
    <div class='logo'>
      <a href='#'><img src='{$static_server}/{$img_path}/logos/beclouds.png' class='logo' alt='logo' /></a>
    </div>
    <div class='form'>
      <h1>Registration</h1>
      <div class='line'></div>
      <form class='input-form'>
            <div class='form-group'>
                    <label class='col-sm-2 control-label'>Login:</label>
                    <input type='text'  name='username' id='username' placeholder='Company Name' />
              </div>
            <div class='form-group'>
                  <label class='col-sm-2 control-label'>E-mail:</label>
                  <input type='text' name='email' id='email' placeholder='E-mail' />
              </div>
            <div class='form-group'>
                  <label class='col-sm-2 control-label'>Password:</label>
                  <input type='password' id='userpwd' name='userpwd' placeholder='Password' />
            </div>
             <div class='form-group'>
                  <label class='col-sm-2 control-label'>Retype Pass:</label>
                  <input type='password' id='retypeuserpwd' name='retypeuserpwd' placeholder='Retype password' /><br />
            </div>
        <input type='checkbox' id='tac-checkbox' /><label for='tac-chec kbox'>I agree with <a href='#'>terms and conditions</a></label>
        <input type='button' class='btn-register btn-facebook' id='btn-register' value='Register' />
                    <span class="progress"></span>

      </form>
      <div class='error-box red'>
        <span class='error-message'><b>Incorrect</b> login or password.</span>
      </div>
      <div class='sign-link'>
        Already have an account? <a href='{$static_server}users/login'>Sign in</a>
      </div>
    </div>
  </body>

    <script src="{$static_server}/assets/app/js/jquery-2.1.1.min.js"></script>
    <script src="{$static_server}/assets/app/js/notification/modernizr.custom.js"></script>
    <script src="{$static_server}/assets/app/js/notification/classie.js"></script>
    <script src="{$static_server}/assets/app/js/notification/notificationFx.js"></script>
    <script src="{$static_server}/assets/app/js/beclouds.js"></script>
</html>