
	{include file='../layout/header.html'}

<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">Company Details</header>
		<div class="panel-body">
			<div class="table-responsive no-border">
			<a id="company_onclick" style=" width:138px; display: block;" rel="leanModal" name="company" href="#company">Add New Company</a>
				<table class="table table-bordered table-striped mg-t datatable">
				<thead>
				<tr>
				<th>Companies</th>
				<th>Contact person</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Actions</th>
				</tr>
				</thead>
				<tbody class='list_content'>
					<div id='loading-image' style="text-align: center"><img src="{$static_server}assets/app/images/framely.gif" align="middle" style="height:75px; width:75px;"/></div>
				</tbody>
				</table>
			</div>
		</div>
		                        <p class="pagination"></p>
		                      
	</section>
</div>
</section>



	{include file='../layout/footer.html'}
	<script type="text/javascript" src="{$static_server}assets/app/js/lib/jquery.simplePagination.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{$static_server}assets/app/css/lib/simplePagination.css"/>

{literal}
<style type="text/css">
.pm-content{
		height:600px;
	}
	
	.form-group label { margin:0px; font-weight:normal;}
	
	#company .form-group { margin:0px;}
	
	#edit_company .form-group { margin:0px;}
	
	form { margin:0px;}
	
	#company .form-group input { margin:0px; line-height: normal; padding: 4px;  height: 31px;}
	
	#company .form-group select { width: 242px; margin:0px; padding: 4px;}
	
	#company .form-group textarea { width: 242px; margin:0px; padding: 4px;}
	
	#edit_company .form-group select { width: 242px; margin:0px; padding: 4px;}
	
	#edit_company .form-group input { margin:0px; line-height: normal; padding: 4px;}
	
	.col-sm-3  { padding:0px;}
	
	#signup-ct button { float:right;}
	
#tac-checkbox, label, .forgotten-password-link { float:none; margin:0px;}

.has-error .form-control {border-color: #ff604f !important; }

.has-success .form-control {border-color: #2b542c !important; }

.form-control-feedback { display:none !important;}

.col-sm-5 {
  
    padding: 0 !important;
    width: 67.667%;
}

.help-block {  margin-bottom: 0px!important; margin-top: 0px!important; }

</style>
<script type='text/javascript'>
		$(function() {
		    $('.pagination').pagination({
		        items: 0{/literal}{$arg.total_items}{literal},
		        itemsOnPage: {/literal}{$arg.pagination}{literal},
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		        	Collect_Info();
		        }
		    });
		    Collect_Info();
		    
		});
		function Collect_Info(){
			var current_page = $('.current').text();
			
		              $.ajax({
		                            type: "POST",
		                            data: 'current_page='+current_page,
		                            dataType:'JSON',
		                            beforeSend: function(){
		                            		$("#loading-image").show();
		                            },
		                            url: base_url+'/company/list_info',
		                            beforeSend: function() {
			              $("#loading-image").show();
			           },
		                            success: function(sresponse) {
		                            	$("#loading-image").hide();
		                            	var objdata = new Array() ;
					$.each(sresponse, function(i, obj) {
					  //use obj.id and obj.name here, for example:
					  	objdata += '<tr>';
					  	objdata += '<td>'+obj.c_name+'</td>'; 
					  	objdata += '<td>'+obj.c_person+'</td>'; 
					  	objdata += '<td>'+obj.c_address+'</td>'; 
					  	objdata += '<td>'+obj.c_phone+'</td>'; 
						objdata += '<td>'+obj.c_email+'</td>';
					  	objdata += '<td><a href="#" id="'+obj.comp_id+'" class="user_edit" onClick="edit_company_info('+obj.comp_id+');">Edit</a></td>'; 
					  	objdata += '</tr>';
					});
					$(".list_content").html(objdata);
		                            }
		               });
		}
		
		
			function edit_company_info(id)
			{
				  $( "#user_edit_tree" ).trigger( "click" );
				 var request_ur = base_url+'/company/edit';
				  $.ajax({
								type: "POST",
								data: 'company_id='+id,
								dataType:'JSON',
								url: request_ur,
								success: function(sresponse) {
									$.each(sresponse, function(i, obj) {
									 
									  $("#co_name").val(obj.c_name);
									   $("#co_person").val(obj.c_person);
									    $("#caddress").val(obj.c_address);
										$("#cpin_code").val(obj.c_pincode);
										$("#cphone").val(obj.c_phone);
									  $("#cemail").val(obj.c_email);
									   $("#comp_status").val(obj.c_status);
									    $("#comp_id").val(obj.comp_id);
									}); 
							}
				});
			}
			
			$(function() {
    			$('a[rel*=leanModal]').leanModal({ top : 60, closeButton: ".modal_close" });		
			});
			
			$(document).ready(function() {
					$('#defaultForm').bootstrapValidator();
				});
				
				 $(document).ready(function() {
					$('#defaultForm1').bootstrapValidator();
				});
	
</script>

{/literal}
<a id="user_edit_tree" rel="leanModal" href="#edit_company">Edit</a>

		<div id="company">
			<div id="signup-ct">
				<div id="signup-header">
					<span>Add New Company</span>
					<a class="modal_close" href="#"></a>
				</div>
				
				<form action="#" method="post" id="defaultForm" class="form-horizontal" data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
				
				
				<div class="form-group">
				    <span class="col-sm-3 control-label">Company Name :</span>
				    <div class="col-sm-5">
					  <input type="text" name='c_name' id='c_name' placeholder="Company Name" class="form-control" required data-bv-notempty-message="The company name is required" />
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Contact Person :</span>
				    <div class="col-sm-5">
					  <input type="text" name='c_person' id='c_person' placeholder="Contact Person" class="form-control" required data-bv-notempty-message="The contact person is required"/>
					 </div>
				  </div>
				  
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Address :</span>
				    <div class="col-sm-5">
					   <textarea name="address" id="address" cols="25" rows="1" placeholder="Address" class="form-control" required data-bv-notempty-message="The address is required"></textarea>
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Pin Code :</span>
				    <div class="col-sm-5">
					   <input type="text" name='pin_code' id='pin_code' placeholder="Pin Code" required class="form-control" data-bv-notempty-message="The pin code is required"/>
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Phone :</span>
				    <div class="col-sm-5">
					 <input type="text" name='phone' id='phone' placeholder="Phone" required class="form-control" data-bv-notempty-message="The phone is required"/>
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Alternative Phone :</span>
				    <div class="col-sm-5">
					 <input type="text" name='alt_phone' id='alt_phone' placeholder="Alternative Phone"  class="form-control" />
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Email :</span>
				    <div class="col-sm-5">
					 <input type="email" name='email' id='email' placeholder="Email" required  class="form-control" data-bv-notempty-message="The email is required"/>
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Alternative Email :</span>
				    <div class="col-sm-5">
					 <input type="email" name='alt_email' id='alt_email' placeholder="Alternative Email"  class="form-control"/>
					 </div>
				  </div>
				  
				    <div class="btn-fld">
				  
				   <input type="submit" id="companybtn" value="Add &raquo;"/>
				   </div>
				   </form>
			 
			
		</div>
		</div>
		
    <div id="edit_company">
			<div id="signup-ct">
				<div id="signup-header">
					<span>Edit Company</span>
					<a class="modal_close" href="#"></a>
				</div>
				
				<form action="#" method="post" id="defaultForm1" class="form-horizontal" data-bv-message="This value is not valid"
                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
     
				 <div class="form-group">
				    <span class="col-sm-3 control-label">Company Name :</span>
				    <div class="col-sm-5">
					  <input type="text" name='co_name' id='co_name' placeholder="Company Name" class="form-control"  required data-bv-notempty-message="The company name is required" />
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Contact Person :</span>
				    <div class="col-sm-5">
					  <input type="text" name='co_person' id='co_person' placeholder="Contact Person" class="form-control"  required data-bv-notempty-message="The contact person is required" />
					 </div>
				  </div>
				  
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Address :</span>
				    <div class="col-sm-5">
					   <textarea name="caddress" required id="caddress" cols="25" rows="1" placeholder="Address" class="form-control" data-bv-notempty-message="The address is required" ></textarea>
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Pin Code :</span>
				    <div class="col-sm-5">
					   <input type="text" name='cpin_code' id='cpin_code' placeholder="Pin Code" class="form-control" required data-bv-notempty-message="The pin code is required"/>
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Phone :</span>
				    <div class="col-sm-5">
					 <input type="text" name='cphone' id='cphone' placeholder="Phone" class="form-control" required  data-bv-notempty-message="The phone is required"/>
					 </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Email :</span>
				    <div class="col-sm-5">
					 <input type="email" name='cemail' id='cemail' placeholder="Email" class="form-control" required  data-bv-notempty-message="The email is required"/>
					 </div>
				  </div>
				  
				  <input type="hidden" name='comp_id' id='comp_id' />
				  
				<div class="form-group">
				 <span class="col-sm-3 control-label">Client Status: </span>
				  <div class="col-sm-5">
				 <select name='comp_status' id='comp_status' class="form-control"  data-bv-notempty-message="The status is required" >
				 	<option value="1">Active</option>
				 	<option value="0">Inactive</option>
				 </select>
				  </div>
				  </div>
				  
				  <div class="btn-fld">
				  <input type="submit" id="edit_companybtn" value="Update &raquo;"/>
				  </div>
				   </form>
			</div>
		</div>