
	{include file='../layout/header.html'}

<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">Company Details</header>
		<div class="panel-body">
			<div class="table-responsive no-border">
			
			<p id="company_onclick" style=" width:151px;">Add New Company</p>
				<table class="table table-bordered table-striped mg-t datatable">
				<thead>
				<tr>
				<th>Companies</th>
				<th>Contact person</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Actions</th>
				</tr>
				</thead>
				<tbody class='list_content'>
					<div id='loading-image' style="text-align: center"><img src="{$static_server}assets/app/images/framely.gif" align="middle" style="height:75px; width:75px;"/></div>
				</tbody>
				</table>
			</div>
		</div>
		                        <p class="pagination"></p>
		                      
	</section>
</div>
</section>



	{include file='../layout/footer.html'}
	<script type="text/javascript" src="{$static_server}assets/app/js/lib/jquery.simplePagination.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{$static_server}assets/app/css/lib/simplePagination.css"/>

{literal}
<style type="text/css">
	.pm-content{
		height:600px;
	}
	
	form input[type="text"], input[type="password"], input[type="file"], select 
{

margin:5px;
padding:0px;
height: 33px;
width:265px;
}

label {
    width: 156px;
}

input[type=button]{
    background-color:#123456;
    border:1px solid white;
     font-family: "Open Sans",sans-serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:22%;
}


.form{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:545px;
    margin:20px 250px 0 35px;
    float:left;
}

#login{ margin-top:-230px; }

h3 {margin-top :0px;}

#tac-checkbox, label, .forgotten-password-link { float:none; margin:0px;}
</style>
<script type='text/javascript'>
		$(function() {
		    $('.pagination').pagination({
		        items: 0{/literal}{$arg.total_items}{literal},
		        itemsOnPage: {/literal}{$arg.pagination}{literal},
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		        	Collect_Info();
		        }
		    });
		    Collect_Info();
		    
		});
		function Collect_Info(){
			var current_page = $('.current').text();
			
		              $.ajax({
		                            type: "POST",
		                            data: 'current_page='+current_page,
		                            dataType:'JSON',
		                            beforeSend: function(){
		                            		$("#loading-image").show();
		                            },
		                            url: base_url+'/company/list_info',
		                            beforeSend: function() {
			              $("#loading-image").show();
			           },
		                            success: function(sresponse) {
		                            	$("#loading-image").hide();
		                            	var objdata = new Array() ;
					$.each(sresponse, function(i, obj) {
					  //use obj.id and obj.name here, for example:
					  	objdata += '<tr>';
					  	objdata += '<td>'+obj.c_name+'</td>'; 
					  	objdata += '<td>'+obj.c_person+'</td>'; 
					  	objdata += '<td>'+obj.c_address+'</td>'; 
					  	objdata += '<td>'+obj.c_phone+'</td>'; 
						objdata += '<td>'+obj.c_email+'</td>';
					  	objdata += '<td><a href="#" id="'+obj.comp_id+'" class="user_edit" onClick="edit_company_info('+obj.comp_id+');">Edit</a></td>'; 
					  	objdata += '</tr>';
					});
					$(".list_content").html(objdata);
		                            }
		               });
		}
		
		
			function edit_company_info(id)
			{
				 $("#edit_companydiv").css("display", "block");
				 var request_ur = base_url+'/company/edit';
				  $.ajax({
								type: "POST",
								data: 'company_id='+id,
								dataType:'JSON',
								url: request_ur,
								success: function(sresponse) {
									$.each(sresponse, function(i, obj) {
									 
									  $("#co_name").val(obj.c_name);
									   $("#co_person").val(obj.c_person);
									    $("#caddress").val(obj.c_address);
										$("#cpin_code").val(obj.c_pincode);
										$("#cphone").val(obj.c_phone);
									  $("#cemail").val(obj.c_email);
									   $("#comp_status").val(obj.c_status);
									    $("#comp_id").val(obj.comp_id);
									}); 
							}
				});
			}
	
</script>

{/literal}

<div id="companydiv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
                <h3>Add New Company</h3>
                <hr/>
                
                <label>Company Name : </label>
               
                <input type="text" name='c_name' id='c_name' placeholder="Company Name"/><br/>
				
				 <label>Contact Person : </label>
               
                <input type="text" name='c_person' id='c_person' placeholder="Cotact Person"/><br/>
				
				 <label>Address : </label>
				 
				 <textarea name="address" id="address" cols="25" rows="2" placeholder="Address" ></textarea><br />
               
                 <label>Pin Code : </label>
               
                <input type="text" name='pin_code' id='pin_code' placeholder="Pin Code"/><br/>
				
				 <label>Phone : </label>
               
                <input type="text" name='phone' id='phone' placeholder="Phone"/><br/>
				
				 <label>Alternative Phone : </label>
               
                <input type="text" name='alt_phone' id='alt_phone' placeholder="Alternative Phone"/><br/>
				
				 <label>Email : </label>
               
                <input type="text" name='email' id='email' placeholder="Email"/><br/>
				
				 <label>Alternative Email : </label>
               
                <input type="text" name='alt_email' id='alt_email' placeholder="Alternative Email"/><br/>
				
                <input type="button" id="companybtn" value="Add"/>

            </form>
        </div>



		<div id="edit_companydiv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
               
			    <h3>Edit Company</h3>
                <hr/>
                
                <label>Company Name : </label>
               
                <input type="text" name='co_name' id='co_name' placeholder="Company Name"/><br/>
				
				 <label>Contact Person : </label>
               
                <input type="text" name='co_person' id='co_person' placeholder="Cotact Person"/><br/>
				
				 <label>Address : </label>
				 
				 <textarea name="caddress" id="caddress" cols="25" rows="2" placeholder="Address" ></textarea><br />
               
                 <label>Pin Code : </label>
               
                <input type="text" name='cpin_code' id='cpin_code' placeholder="Pin Code"/><br/>
				
				 <label>Phone : </label>
               
                <input type="text" name='cphone' id='cphone' placeholder="Phone"/><br/>
				
				 <input type="hidden" name='comp_id' id='comp_id' />
				 
				 <label>Email : </label>
               
                <input type="text" name='cemail' id='cemail' placeholder="Email"/><br/>
				
				 <label>Client Status: </label>
				 <select name='comp_status' id='comp_status' >
				 	<option value="1">Active</option>
				 	<option value="0">Inactive</option>
				 </select>
				 
                <input type="button" id="edit_companybtn" value="Update"/>
            </form>
   </div>