
	{include file='../layout/header.html'}

<style>
form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }
#progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>
<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">Upload Data</header>
		<div class="panel-body">
			<div class='form' style="">
			      <h1>Upload</h1>
			      <div class='line'></div>
			      <form class='upload-form' action='{$static_server}upload/add' method='POST' enctype="multipart/form-data">
			      <div class='form-group'>
			        	<label class='col-sm-2 control-label'>Form Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			        	<select name='form_type' id='form_type' >
			        		{foreach from=$form_types item=form_type}
			        			<option value='{$form_type.form_type_id}'>{$form_type.form_type_name}</option>
			        		{/foreach}
			        	</select>
			        </div>
			      <div class='form-group'>
			        	<label class='col-sm-2 control-label'>File: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br/>
			        	<input type='file' name='file_data' id='file_data' />
			        	<input type='hidden' name='use' id='use' value='up89765' />
			        </div>
			      <div class='form-group'><br/>
				<div id="progress">
				        <div id="bar"></div>
				        <div id="percent">0%</div >
				</div>
				<div id="message"></div>
			        </div>
			        <input type='submit' class='btn-sign-in btn-facebook' id='btn-upload-add' value='Add' />
			      </form>
		</div>
	</section>
</div>
</section>
	{include file='../layout/footer.html'}
<script src="http://malsup.github.com/jquery.form.js"></script>
{literal}
<script>
$(document).ready(function()
{
    var options = { 
    beforeSend: function() 
    {
        $("#progress").show();
        //clear everything
        $("#bar").width('0%');
        $("#message").html("");
        $("#percent").html("0%");
    },
    uploadProgress: function(event, position, total, percentComplete) 
    {
        $("#bar").width(percentComplete+'%');
        $("#percent").html(percentComplete+'%');
        $("#btn-upload-add").val('Please Wait...');
        $("#btn-upload-add").attr('disabled','disabled');
     },
    success: function() 
    {
        $("#bar").width('100%');
        $("#percent").html('100%');
        $("#btn-upload-add").val('Add');
        $("#btn-upload-add").removeAttr('disabled','disabled');

     },
    complete: function(response) 
    {
        $("#message").html("<font color='green'>"+response.responseText+"</font>");
    },
    error: function()
    {
        $("#message").html("<font color='red'> ERROR: unable to upload files</font>");
     }
 }; 
     $(".upload-form").ajaxForm(options);
 });
 </script>
{/literal}