
	{include file='../layout/header.html'}

<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">AdType Details</header>
		<div class="panel-body">
			<div class="table-responsive no-border">
			
			<p id="adtype_onclick" style=" width:151px;">Add New AdType</p>
				<table class="table table-bordered table-striped mg-t datatable">
				<thead>
				<tr>
				<th>Form Type</th>
				<th>Code Type</th>
				<th>Code</th>
				<th>Rack Rate</th>
				<th>Action</th>
				</tr>
				</thead>
				<tbody class='list_content'>
					<div id='loading-image' style="text-align: center"><img src="{$static_server}assets/app/images/framely.gif" align="middle" style="height:75px; width:75px;"/></div>
				</tbody>
				</table>
			</div>
		</div>
		                        <p class="pagination"></p>
		                      
	</section>
</div>
</section>



	{include file='../layout/footer.html'}
	<script type="text/javascript" src="{$static_server}assets/app/js/lib/jquery.simplePagination.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{$static_server}assets/app/css/lib/simplePagination.css"/>

{literal}
<style type="text/css">
	.pm-content{
		height:600px;
	}
	
	form input[type="text"], input[type="password"], input[type="file"], select 
{

margin:5px;
padding:0px;
height: 33px;
font-weight: normal;
}
input[type=button]{
    background-color:#123456;
    border:1px solid white;
     font-family: "Open Sans",sans-serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:22%;
}
label { width: 88px; font-weight: normal;}

.form{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:545px;
    margin:20px 250px 0 35px;
    float:left;
}

h3 {margin-top :0px;}

#tac-checkbox, label, .forgotten-password-link { float:none; margin:0px;}
</style>
<script type='text/javascript'>
		$(function() {
		    $('.pagination').pagination({
		        items: 0{/literal}{$arg.total_items}{literal},
		        itemsOnPage: {/literal}{$arg.pagination}{literal},
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		        	Collect_Info();
		        }
		    });
		    Collect_Info();
		    
		});
		function Collect_Info(){
			var current_page = $('.current').text();
			
		              $.ajax({
		                            type: "POST",
		                            data: 'current_page='+current_page,
		                            dataType:'JSON',
		                            beforeSend: function(){
		                            		$("#loading-image").show();
		                            },
		                            url: base_url+'/adtype/list_info',
		                            beforeSend: function() {
			              $("#loading-image").show();
			           },
		                            success: function(sresponse) {
		                            	$("#loading-image").hide();
		                            	var objdata = new Array() ;
					$.each(sresponse, function(i, obj) {
					  //use obj.id and obj.name here, for example:
					  	objdata += '<tr>';
					  	objdata += '<td>'+obj.name+'</td>'; 
					  	objdata += '<td>'+obj.ad_type_name+'</td>'; 
					  	objdata += '<td>'+obj.ad_type_code+'</td>'; 
					  	objdata += '<td>'+obj.ad_type_rate+'</td>'; 
					  	objdata += '<td>'+obj.user_created_on+'</td>'; 
					  	objdata += '<td><a href="#" id="'+obj.id+'" class="user_editsss" onClick="edit_adtype_info('+obj.id+');">Edit</a></td>'; 
					  	objdata += '</tr>';
					});
					$(".list_content").html(objdata);
		                            }
		               });
		}
		
		
			function edit_adtype_info(id)
			{
				 $("#edit_adtypediv").css("display", "block");
				 var request_ur = base_url+'/adtype/edit';
				  $.ajax({
								type: "POST",
								data: 'adtype_id='+id,
								dataType:'JSON',
								url: request_ur,
								success: function(sresponse) {
									$.each(sresponse, function(i, obj) {
									 
									  $("#edit_type_roles").val(obj.form_type);
									   $("#edit_type_name").val(obj.ad_type_name);
									    $("#edit_type_code").val(obj.ad_type_code);
										$("#edit_rack_rate").val(obj.ad_type_rate);
										$("#edtype_status").val(obj.ad_type_status);
									  $("#adtype_id").val(id);
									}); 
							}
				});
			}
	
</script>

{/literal}




 <div id="adtypediv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
                <h3>Add New AdType</h3>
                <hr/>
                <label>Form Type : </label>
             
                <select name='form_adtype' id='form_adtype' >
			        		{foreach from=$roles item=role}
			        		<option value='{$role.id}'>{$role.name}</option>
			        		{/foreach}
			     </select>
                
                <label>Name: </label>
               
                <input type="text" name='ad_type_name' id='ad_type_name' placeholder="Name"/><br/>
				
				 <label>Code : </label>
               
                <input type="text" name='ad_type_code' id='ad_type_code' placeholder="Code"/><br/>
				
				 <label>Rack Rate : </label>
               
                <input type="text" name='ad_type_rate' id='ad_type_rate' placeholder="Rack Rate"/><br/>
				
                <input type="button" id="adtypebtn" value="Add"/>

            </form>
        </div>



		<div id="edit_adtypediv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
                <h3>Edit AdType</h3>
                <hr/>
                <label>Form Type : </label>
             	<select name='edit_type_roles' id='edit_type_roles' >
			        		{foreach from=$roles item=role}
			        			<option value='{$role.id}'>{$role.name}</option>
			        		{/foreach}
			     </select>
				            
                <label>Name : </label>
               
                <input type="text" name='edit_type_name' id='edit_type_name' placeholder="Name"/><br/>
				
				 <label>Code : </label>
               
                <input type="text" name='edit_type_code' id='edit_type_code' placeholder="Code"/><br/>
				
				
				
				 <input type="hidden" name='adtype_id' id='adtype_id' />
				
				 <label>Rack Rate : </label>

                <input type="text" name='edit_rack_rate' id='edit_rack_rate' placeholder="Rack Rate"/><br/>
				
				 <label>Status: </label>
				 <select name='edtype_status' id='edtype_status' >
				 	<option value="1">Active</option>
				 	<option value="0">Inactive</option>
				 </select>
				 
                <input type="button" id="edit_adtypebtn" value="Update"/>
            </form>
   </div>