</div>
</body>
</html>
<script src="{$static_server}assets/app/css/vendor/jquery-1.11.1.min.js"></script>
<script src="{$static_server}assets/app/css/bootstrap/js/bootstrap.js"></script>
<script src="{$static_server}assets/app/css/vendor/jquery.easing.min.js"></script>
<script src="{$static_server}assets/app/css/vendor/jquery.placeholder.js"></script>
 
 
<script src="{$static_server}assets/app/css/vendor/moment.js"></script>
<script src="{$static_server}assets/app/css/vendor/skycons.js"></script>
<script src="{$static_server}assets/app/css/vendor/jquery.blockUI.js"></script>
<script src="{$static_server}assets/app/css/vendor/raphael.min.js"></script>
<script src="{$static_server}assets/app/css/vendor/jquery.slimscroll.js"></script>
<script src="{$static_server}assets/app/css/vendor/bxslider/jquery.bxslider.min.js"></script>
<script src="{$static_server}assets/app/css/vendor/offline/offline.min.js"></script>
<script src="{$static_server}assets/app/css/vendor/pace/pace.min.js"></script>
 
    <script src="{$static_server}/assets/app/js/notification/modernizr.custom.js"></script>
    <script src="{$static_server}/assets/app/js/notification/classie.js"></script>
    <script src="{$static_server}/assets/app/js/notification/notificationFx.js"></script>
 
<script src="{$static_server}assets/app/js/common/off-canvas.js"></script>
<script src="{$static_server}assets/app/js/common/main.js"></script>
 
<script src="{$static_server}assets/app/js/common/panel.js"></script>
<script src="{$static_server}assets/app/js/beclouds.js"></script>

<script src="{$static_server}assets/app/js/common/dashboard.js"></script>

<script type="text/javascript" src="{$static_server}assets/app/js/jquery.leanModal.min.js"></script>

<script src="{$static_server}assets/app/js/jquery_popup.js"></script>

<script src="{$static_server}assets/app/js/bootstrap.min.js"></script>

<script src="{$static_server}assets/app/js/bootstrapValidator.js"></script>
		<script src="{$static_server}assets/app/js/moment.min.js"></script>
<script src="{$static_server}assets/app/js/jquery.daterangepicker.js"></script>

{literal}
	<script type="text/javascript">
		$(document).ready(function(){
			$('#datebetween').dateRangePicker({		language:'en'
});

		});
	</script>
{/literal}
