
	{include file='../layout/header.html'}

<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">Employee Details</header>
		<div class="panel-body">
			<div class="table-responsive no-border">
			
			<a id="employee_onclick" style=" width:142px; display: block;" rel="leanModal" name="employee" href="#employee">Add New Employee</a>	
			
				<table class="table table-bordered table-striped mg-t datatable">
				<thead>
				<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>User Role</th>
				<th>User From</th>
				</tr>
				</thead>
				<tbody class='list_content'>
					<div id='loading-image' style="text-align: center"><img src="{$static_server}assets/app/images/framely.gif" align="middle" style="height:75px; width:75px;"/></div>
				</tbody>
				</table>
			</div>
		</div>
		                        <p class="pagination"></p>
		                        <div class='modal' style="display:none;">
		                        		{include file='employee/edit.html'}
		                        </div>
	</section>
</div>
</section>



	{include file='../layout/footer.html'}
	<script type="text/javascript" src="{$static_server}assets/app/js/lib/jquery.simplePagination.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{$static_server}assets/app/css/lib/simplePagination.css"/>

{literal}
<style type="text/css">

.pm-content{
		height:600px;
	}
	
	.form-group label { margin:0px; font-weight:normal;}
	
	#employee .form-group { margin:0px;}
	
	#edit_employee .form-group { margin:0px;}
	
	form { margin:0px;}
	
	#employee .form-group input { margin:0px; line-height: normal;}
	
	#employee .form-group select { width: 242px; margin:0px;}
	
	#edit_employee .form-group select { width: 242px; margin:0px;}
	
	#edit_employee .form-group input { margin:0px; line-height: normal;}
	
	.col-sm-3  { padding:0px;}
	
	#signup-ct button { float:right;}
	
#tac-checkbox, label, .forgotten-password-link { float:none; margin:0px;}



</style>
<script type='text/javascript'>
		$(function() {
		    $('.pagination').pagination({
		        items: 0{/literal}{$arg.total_items}{literal},
		        itemsOnPage: {/literal}{$arg.pagination}{literal},
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		        	Collect_Info();
		        }
		    });
		    Collect_Info();
		    
		});
		function Collect_Info(){
			var current_page = $('.current').text();
			
		              $.ajax({
		                            type: "POST",
		                            data: 'current_page='+current_page,
		                            dataType:'JSON',
		                            beforeSend: function(){
		                            		$("#loading-image").show();
		                            },
		                            url: base_url+'/employee/list_info',
		                            beforeSend: function() {
			              $("#loading-image").show();
			           },
		                            success: function(sresponse) {
		                            	$("#loading-image").hide();
		                            	var objdata = new Array() ;
					$.each(sresponse, function(i, obj) {
					  //use obj.id and obj.name here, for example:
					  	objdata += '<tr>';
					  	objdata += '<td>'+obj.user_first_name+'</td>'; 
					  	objdata += '<td>'+obj.user_last_name+'</td>'; 
					  	objdata += '<td>'+obj.user_email+'</td>'; 
					  	objdata += '<td>'+obj.user_type_name+'</td>'; 
					  	objdata += '<td>'+obj.user_created_on+'</td>'; 
					  	objdata += '<td><a href="#" id="'+obj.user_id+'" class="user_editsss" onClick="edit_user_info('+obj.user_id+');">Edit</a></td>'; 
					  	objdata += '</tr>';
					});
					$(".list_content").html(objdata);
		                            }
		               });
		}
		
		
			function edit_user_info(id)
			{
				 $( "#user_edit_tree" ).trigger( "click" );
				 var request_ur = base_url+'/employee/edit';
				  $.ajax({
								type: "POST",
								data: 'user_id='+id,
								dataType:'JSON',
								url: request_ur,
								success: function(sresponse) {
									$.each(sresponse, function(i, obj) {
									 
									  $("#use_first_name").val(obj.user_first_name);
									   $("#use_last_name").val(obj.user_last_name);
									    $("#use_email").val(obj.user_email);
										$("#use_roles").val(obj.user_type);
										$("#use_status").val(obj.user_is_active);
									  $("#usereid").val(id);
									});
							}
				});
			}
			
			$(function() {
    			$('a[rel*=leanModal]').leanModal({ top : 92, closeButton: ".modal_close" });		
			});
	
</script>

{/literal}

<a id="user_edit_tree" rel="leanModal" href="#edit_employee">Edit</a>


		<div id="employee">
			<div id="signup-ct">
				<div id="signup-header">
					<span>Add New Employee</span>
					<a class="modal_close" href="#"></a>
				</div>
				
				<form action="#" method="post" id="html5Form" class="form-horizontal">
     
				  <div class="form-group">
				    <span class="col-sm-3 control-label">First Name:</span>
				    <div class="col-sm-5">
					 <input type="text" name='us_first_name' id='us_first_name' placeholder="First Name"   required data-bv-notempty-message="The first name is required"/>
					 </div>
				  </div>
				  
				   <div class="form-group">
				    <span class="col-sm-3 control-label">Last Name:</span>
				    <div class="col-sm-5">
					 <input type="text" name='us_last_name' id='us_last_name' placeholder="Last Name"   required data-bv-notempty-message="The last name is required"/>
					 </div>
				  </div>
				  
				   <div class="form-group">
				    <span class="col-sm-3 control-label">Email:</span>
				    <div class="col-sm-5">
					 <input type="email" name='us_email' id='us_email' placeholder="Email"  required data-bv-emailaddress-message="The input is not a valid email address"/>
					 </div>
				  </div>
				  
				   <div class="form-group">
				    <span class="col-sm-3 control-label">Password:</span>
				    <div class="col-sm-5">
					 <input type="password" name='uspwd' id='uspwd' placeholder="Password"   required data-bv-notempty-message="The password is required"/>
					 </div>
				  </div>
				  
				  
				   <div class="form-group">
				    <span class="col-sm-3 control-label">Roles:</span>
				    <div class="col-sm-5">
					<select name='us_roles' id='us_roles' >
			        		{foreach from=$roles item=role}
			        			<option value='{$role.user_type_id}'>{$role.user_type_name}

</option>
			        		{/foreach}
			     </select>
					 </div>
				  </div>
				  
				 
				  <div class="btn-fld">
				  
				   <input type="submit" id="loginbtn" value="Add &raquo;"/>
				   </div>
				   </form>
			 
			
		</div>
		</div>
		
		 <div id="edit_employee">
			<div id="signup-ct">
				<div id="signup-header">
					<span>Edit New Employee</span>
					<a class="modal_close" href="#"></a>
				</div>
				
				<form action="#" method="post" id="html5Form" class="form-horizontal">
     
				  <div class="form-group">
				    <span class="col-sm-3 control-label">First Name :</span>
				    <div class="col-sm-5">
					 <input type="text" name='use_first_name' id='use_first_name' placeholder="First Name"  required data-bv-notempty-message="The first name is required"/>
				  </div>
				  </div>
				  
				  <div class="form-group">
				    <span class="col-sm-3 control-label">Last Name:</span>
				    <div class="col-sm-5">
					 <input type="text" name='use_last_name' id='use_last_name' placeholder="Last Name"    required data-bv-notempty-message="The last name is required"/>
					 </div>
				  </div>
				  
				   <div class="form-group">
				    <span class="col-sm-3 control-label">Email:</span>
				    <div class="col-sm-5">
					 <input type="email" name='use_email' id='use_email' placeholder="Email"   required data-bv-emailaddress-message="The input is not a valid email address"/>
					 </div>
				  </div>
				  
				   <div class="form-group">
				    <span class="col-sm-3 control-label">Roles:</span>
				    <div class="col-sm-5">
					<select name='use_roles' id='use_roles' >
			        		{foreach from=$roles item=role}
			        			<option value='{$role.user_type_id}'>{$role.user_type_name}

</option>
			        		{/foreach}
			     </select>
					 </div>
				  </div>
				  
				<input type="hidden" name='usereid' id='usereid'/>
				
				 <div class="form-group">
				 <span class="col-sm-3 control-label">Status: </span>
				  <div class="col-sm-5">
				 <select name='use_status' id='use_status' >
				 	<option value="1">Active</option>
				 	<option value="0">Inactive</option>
				 </select>
				  </div>
				  </div>
				  
				  <div class="btn-fld">
				  <input type="submit" id="edit_loginbtn" value="Update &raquo;"/>
				  </div>
				   </form>
			</div>
		</div>


