
	{include file='../layout/header.html'}

<section class="main-content">
<div class="content-wrap" style="margin-top:50px;">
	<section class="panel panel-info">
		<header class="panel-heading">Employee Details</header>
		<div class="panel-body">
			<div class="table-responsive no-border">
			
			<p id="employee_onclick" style=" width:151px;">Add New Employee</p>
				<table class="table table-bordered table-striped mg-t datatable">
				<thead>
				<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>User Role</th>
				<th>User From</th>
				</tr>
				</thead>
				<tbody class='list_content'>
					<div id='loading-image' style="text-align: center"><img src="{$static_server}assets/app/images/framely.gif" align="middle" style="height:75px; width:75px;"/></div>
				</tbody>
				</table>
			</div>
		</div>
		                        <p class="pagination"></p>
		                        <div class='modal' style="display:none;">
		                        		{include file='employee/edit.html'}
		                        </div>
	</section>
</div>
</section>



	{include file='../layout/footer.html'}
	<script type="text/javascript" src="{$static_server}assets/app/js/lib/jquery.simplePagination.js"></script>
	
	<link type="text/css" rel="stylesheet" href="{$static_server}assets/app/css/lib/simplePagination.css"/>

{literal}
<style type="text/css">
	.pm-content{
		height:600px;
	}
	
	form input[type="text"], input[type="password"], input[type="file"], select 
{

margin:5px;
padding:0px;
height: 33px;
font-weight: normal;
}
input[type=button]{
    background-color:#123456;
    border:1px solid white;
     font-family: "Open Sans",sans-serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:22%;
}
label { width: 88px;
font-weight: normal;
}

.form{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:545px;
    margin:20px 250px 0 35px;
    float:left;
}

h3 {margin-top :0px;}

#tac-checkbox, label, .forgotten-password-link { float:none; margin:0px;}
</style>
<script type='text/javascript'>
		$(function() {
		    $('.pagination').pagination({
		        items: 0{/literal}{$arg.total_items}{literal},
		        itemsOnPage: {/literal}{$arg.pagination}{literal},
		        cssStyle: 'light-theme',
		        onPageClick: function(){
		        	Collect_Info();
		        }
		    });
		    Collect_Info();
		    
		});
		function Collect_Info(){
			var current_page = $('.current').text();
			
		              $.ajax({
		                            type: "POST",
		                            data: 'current_page='+current_page,
		                            dataType:'JSON',
		                            beforeSend: function(){
		                            		$("#loading-image").show();
		                            },
		                            url: base_url+'/employee/list_info',
		                            beforeSend: function() {
			              $("#loading-image").show();
			           },
		                            success: function(sresponse) {
		                            	$("#loading-image").hide();
		                            	var objdata = new Array() ;
					$.each(sresponse, function(i, obj) {
					  //use obj.id and obj.name here, for example:
					  	objdata += '<tr>';
					  	objdata += '<td>'+obj.user_first_name+'</td>'; 
					  	objdata += '<td>'+obj.user_last_name+'</td>'; 
					  	objdata += '<td>'+obj.user_email+'</td>'; 
					  	objdata += '<td>'+obj.user_type_name+'</td>'; 
					  	objdata += '<td>'+obj.user_created_on+'</td>'; 
					  	objdata += '<td><a href="#" id="'+obj.user_id+'" class="user_editsss" onClick="edit_user_info('+obj.user_id+');">Edit</a></td>'; 
					  	objdata += '</tr>';
					});
					$(".list_content").html(objdata);
		                            }
		               });
		}
		
		
			function edit_user_info(id)
			{
				 $("#edit_empdiv").css("display", "block");
				 var request_ur = base_url+'/employee/edit';
				  $.ajax({
								type: "POST",
								data: 'user_id='+id,
								dataType:'JSON',
								url: request_ur,
								success: function(sresponse) {
									$.each(sresponse, function(i, obj) {
									 
									  $("#use_first_name").val(obj.user_first_name);
									   $("#use_last_name").val(obj.user_last_name);
									    $("#use_email").val(obj.user_email);
										$("#use_roles").val(obj.user_type);
										$("#use_status").val(obj.user_is_active);
									  $("#usereid").val(id);
									});
							}
				});
			}
	
</script>

{/literal}




 <div id="contactdiv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
                <h3>Add New Employee</h3>
                <hr/>
                <label>First Name : </label>
             
                <input type="text" name='us_first_name' id='us_first_name' placeholder="First Name"/><br/>
                
                <label>Last Name : </label>
               
                <input type="text" name='us_last_name' id='us_last_name' placeholder="Last Name"/><br/>
				
				 <label>Email : </label>
               
                <input type="text" name='us_email' id='us_email' placeholder="User Email"/><br/>
				
				 <label>Password : </label>
               
                <input type="password" name='uspwd' id='uspwd' placeholder="Password"/><br/>
				
				 <label>Roles : </label>

                <select name='us_roles' id='us_roles' >
			        		{foreach from=$roles item=role}
			        			<option value='{$role.user_type_id}'>{$role.user_type_name}

</option>
			        		{/foreach}
			     </select>
                
                <input type="button" id="loginbtn" value="Add"/>
               
                

            </form>

			
        </div>



		<div id="edit_empdiv">			
          
			<form class="form" action="#" id="login">
                <img src="{$static_server}assets/app/images/button_cancel.png" class="img" id="cancel"/>	
                <h3>Edit New Employee</h3>
                <hr/>
                <label>First Name : </label>
             
                <input type="text" name='use_first_name' id='use_first_name' placeholder="First Name"/><br/>
                
                <label>Last Name : </label>
               
                <input type="text" name='use_last_name' id='use_last_name' placeholder="Last Name"/><br/>
				
				 <label>Email : </label>
               
                <input type="text" name='use_email' id='use_email' placeholder="User Email"/><br/>
				
				
				
				 <input type="hidden" name='usereid' id='usereid' />
				
				 <label>Roles : </label>

                <select name='use_roles' id='use_roles' >
			        		{foreach from=$roles item=role}
			        			<option value='{$role.user_type_id}'>{$role.user_type_name}

</option>
			        		{/foreach}
			     </select>
				 
				 <label>Status: </label>
				 <select name='use_status' id='use_status' >
				 	<option value="1">Active</option>
				 	<option value="0">Inactive</option>
				 </select>
                
                <input type="button" id="edit_loginbtn" value="Update"/>
               
                

            </form>

			
        </div>


