* { margin: 0; padding: 0; }
html { height: 100%; background: fixed url(../img/bg.png) repeat; }
body {  font-size: 62.5%; font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", sans-serif;}



signup-header span { color: #FFF; font-size: 2em; font-weight: normal; padding-bottom: 4px; margin-bottom: 8px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

#lean_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#signup-header { background: url(../images/hd-bg.png); padding: 12px 18px 6px; border-bottom: 1px solid #CCC; border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }

#signup-header  span { color: #444; font-size: 18px; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); display: block; }
#signup-header  p { color: #444;  margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }



#signup {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#signup .form-group { position: relative; width: 404px; padding: 14px 20px; border-bottom: 1px solid #EEE;  }

#signup .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#signup .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#signup .form-group input { width: 244px; padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }
#signup .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#signup .form-group input.error_input { background: #FDE0E0; }

#edit_signup {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}


#edit_signup .form-group { position: relative; width: 404px; padding: 10px 20px; border-bottom: 1px solid #EEE; }
#edit_signup .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#edit_signup .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#edit_signup .form-group input { width: 244px; padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_signup .form-group select { width: 244px; padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_signup .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#edit_signup .form-group input.error_input { background: #FDE0E0; }


#product {

	 width: 404px;
	 padding-bottom: 2px;
    display:none;
    background: #FFF;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#product .form-group { position: relative; width: 404px; padding: 10px 20px; border-bottom: 1px solid #EEE; }

#product .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#product .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#product .form-group input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }
#product .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#product .form-group input.error_input { background: #FDE0E0; }


#edit_product {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}


#edit_product .form-group { position: relative; width: 404px; padding: 10px 20px; border-bottom: 1px solid #EEE;}
#edit_product .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#edit_product .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#edit_product .form-group input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_product .form-group select { width: 244px; padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_product .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#edit_product .form-group input.error_input { background: #FDE0E0; }


#employee {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#employee .form-group { position: relative; width: 404px; padding: 7px 20px; border-bottom: 1px solid #EEE; }

#employee .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#employee .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#employee .form-group input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#employee .form-group select { width: 244px; padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#employee .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#employee .form-group input.error_input { background: #FDE0E0; }


#edit_employee {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}


#edit_employee .form-group { position: relative; width: 404px; padding: 7px 20px; border-bottom: 1px solid #EEE; }
#edit_employee .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#edit_employee .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#edit_employee .form-group input { width: 244px; padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_employee .form-group select { width: 244px; padding: 4px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_employee .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#edit_employee .form-group input.error_input { background: #FDE0E0; }

#adtype {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#adtype .form-group { position: relative; width: 404px; padding: 10px 20px; border-bottom: 1px solid #EEE; }

#adtype .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#adtype .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#adtype .form-group input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }
#adtype .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#adtype .form-group input.error_input { background: #FDE0E0; }


#edit_adtype {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}


#edit_adtype .form-group { position: relative; width: 404px; padding: 10px 20px; border-bottom: 1px solid #EEE; }
#edit_adtype .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#edit_adtype .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#edit_adtype .form-group input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_adtype .form-group select { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_adtype .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#edit_adtype .form-group input.error_input { background: #FDE0E0; }


#company {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}

#company .form-group { position: relative; width: 404px; padding: 5px 20px; border-bottom: 1px solid #EEE; }

#company .btn-fld { width: 404px; overflow: hidden; padding: 4px 20px 12px 130px; }

#company .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#company .form-group input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#company .form-group textarea { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }

#company .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#company .form-group input.error_input { background: #FDE0E0; }


#edit_company {

     width: 404px;
     padding-bottom: 2px;

    display:none;


    background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
       
}


#edit_company .form-group { position: relative; width: 404px; padding: 7px 20px; border-bottom: 1px solid #EEE; }
#edit_company .btn-fld { width: 404px; overflow: hidden; padding: 12px 20px 12px 130px; }

#edit_company .form-group span { display: block; float: left; width: 115px; padding-top: 8px; color: #222; font-size: 13px; text-align: left;  }
#edit_company .form-group input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_company .form-group textarea { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }


#edit_company .form-group select { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; height: 34px; }

#edit_company .form-group input.good_input { background: #DEF5E1 url(../img/good.png) 236px center no-repeat; }
#edit_company .form-group input.error_input { background: #FDE0E0; }


p.error { position: absolute; bottom: 48px; right: 20px; width: 262px; color: #FFF; font-size: 1.1em; padding-bottom: 5px; background: url(../img/error-arw.png) 20px bottom no-repeat; text-align: left; margin: 0; text-shadow: none; }
p.error span { display: inline-block; background: #D43636; padding: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  }
.form-group input:focus, .form-group input:focus { background-color: #FAF9DC; }
        

 
#categorybtn   {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 #edit_categorybtn  {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 #productbtn   {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 #edit_productbtn  {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 
 #adtypebtn   {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 #edit_adtypebtn  {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 #companybtn   {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 #edit_companybtn  {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
  #loginbtn   {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
 
 #edit_loginbtn  {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
  width: auto;
  overflow: visible;

  color: #FFF;
 padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);
 height: 34px;   font-size: 14px;
 }
        
.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../images/modal_close.png); z-index: 2; }

#category_onclick {
   padding:3px;
   color:green;
   cursor:pointer;
	padding:5px 5px 5px 15px;
   width:70px;
   color:white;
   background-color:#123456;
   box-shadow:1px 1px 5px grey;
   border-radius:3px;
}


#product_onclick {
   padding:3px;
   color:green;
   cursor:pointer;
	padding:5px 5px 5px 15px;
   width:70px;
   color:white;
   background-color:#123456;
   box-shadow:1px 1px 5px grey;
   border-radius:3px;
   width:137px;
}

#employee_onclick {
   padding:3px;
   color:green;
   cursor:pointer;
	padding:5px 5px 5px 15px;
   width:70px;
   color:white;
   background-color:#123456;
   box-shadow:1px 1px 5px grey;
   border-radius:3px;
   width:137px;
}

#adtype_onclick {
	padding:3px;
   color:green;
   cursor:pointer;
	padding:5px 5px 5px 15px;
   width:70px;
   color:white;
   background-color:#123456;
   box-shadow:1px 1px 5px grey;
   border-radius:3px;
   width:137px;
}

#company_onclick {
	padding:3px;
   color:green;
   cursor:pointer;
	padding:5px 5px 5px 15px;
   width:70px;
   color:white;
   background-color:#123456;
   box-shadow:1px 1px 5px grey;
   border-radius:3px;
   width:137px;
}






